* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5fff5;
}

.nav_items {
  width: 80%;
  margin: 0 auto;
}

.main_content {
  width: 78%;
  margin: 50px auto 0;
}
