<%- include("./includes/head.ejs") %>
</head>
<body>
    <%- include("./includes/navigation.ejs") %>
    <div class="main_content">
        <h1> <%= pageHead %> </h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci placeat itaque, quae deserunt eum enim iusto eos laborum nemo voluptatibus rem, libero ullam. Earum nobis fuga tenetur rerum. Explicabo eligendi repudiandae maiores provident? Vel amet a laborum ducimus odit, eius eum repellat ipsa iusto iure ab, quas consequatur quia, cumque aperiam nostrum! Officiis quod hic, doloribus laboriosam nulla officia natus illo error quas nam, sequi tenetur. Neque iure autem ad tempore maxime temporibus, officia at aliquid, recusandae inventore voluptatibus ullam deserunt. Cupiditate ullam, sit voluptatem magni aut corporis sunt, veniam culpa ut ea fuga id dolore eaque. Totam, saepe molestias!</p>
    </div>
</body>
</html>